.container{
display: flex;
flex-wrap: wrap;
align-items: center;

}
body{
margin: 0px;
}
h1{
border-right: 2px solid hotpink;
border-bottom: 2px solid hotpink;
width: 400px;
box-shadow: 2px 2px 2px  gray;
font-family:monospace;
text-align: cenetr;
height: 50px;
transition: all 1s;

}
img{
width: 450px;
height: 300px;
margin: 10px;
transition: all 1s ;
}
img:hover{
transform: scale(1.2);


